:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }

  .container {
    display: grid;
    height: 200vh;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 3.5fr 2.2fr 4.8fr;
    grid-template-areas:
      "nav nav nav"
      "main main main"
      "content1 content2 content3"
      "content4 content5 content6"
      "footer footer footer";
    grid-gap: 0.2rem;
  }
  
  nav {
    background-image: url("Assets/Semua Produk/batik judul.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-size: 30px;
    color: brown;
    text-align: center;
  }
  main {
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  .point1{
    font-size: 18px;
    text-align: center;
    list-style-type: none;
    color: #C08261;
}
li{
    display: inline-block;
    padding: 20px;
    margin-inline: 30px;
}
  #content1 {
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  .b{
    width: 62%;
    float: left;
    margin: 2px;
    padding: 2px;
  }
  .a{
    width: 30%;
    display: block;
    margin: 2px;
    padding: 2px;
  }
  #content2 {
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content3 {
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content4 {
    grid-area: content4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #content5 {
    grid-area: content5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  #content6 {
    grid-area: content6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }

  h3{
    color: #C08261;
  }

  footer {
    background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }