* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Font Custom */
@font-face {
    font-family: allfont;
    src: url(../Assets/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: font-desc-foot;
    src: url(../Assets//Montserrat-Medium.ttf);
}


body {
    height: 100vh;
    background-color: #f6f4f3;
    font-family: allfont;
}

/* Navigation Bar */
.header {
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: #f6f4f3;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    align-items: center;
}

/* Button Navigation Bar */
.navbar .navbarbutton{
    font-size: 18px;
    font-family: "allfont";
    color: #786337;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
}


/* Animation Button Navigation Bar */
.navbar .navbarbutton.active,
.navbar .navbarbutton:hover {
    font-weight: bolder;
    color: #C7A55B;
    background-color: none;
}

/* Logo */
.logo {
    display: inline-block;
    /*   float: left; */
    width: 210px;
    height: 70px;
}

/* Login Pop Up */
.popup {
    z-index: 1000;
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;

}

/* Login Pop Up */
.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

/* Login Pop Up */
.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

/* Login Pop Up */
.popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

/* Login Pop Up */
.popup .form .form-element {
    margin: 15px 0px;
}

/* Login Pop Up */
.popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

/* Login Pop Up */
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
    font-family: allfont;
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

/* Login Pop Up */
.popup .form .form-element input[type="checkbox"] {
    font-family: allfont;
    margin-right: 5px;
}

/* Login Pop Up */
.popup .form .form-element button {
    font-family: allfont;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #785B35;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer; 
}

/* Login Pop Up */
.popup .form .form-element p {
    display: inline;
    font-size: 15px;
    color: black;
}

/* Login Pop Up */
.popup .form .form-element a {
    display: inline;
    padding: 0 5px;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

section{
    padding: 100px 0px 50px 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background: none
}

/* Terms of Service */
.TermsofService {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #eee;
    text-align: center;
} */

.form h1 {
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    background-image: url('/Assets/p&P.jpeg');
    background-size: cover;.
    background-repeat: no-repeat;
    background-position: center center;
    color: #eee;
    font-family: font-desc-foot;
    line-height: 1.5;
    text-align: center;
     }

.form h2 {
    padding: 40px;
    font-size: 25px;
    font-weight: bold;
    background-image: url('/Assets/p&P.jpeg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    color: #eee;
    font-family: font-desc-foot;
    line-height: 1.5;
    text-align: center;
  }

.form p {
    margin-top:20px;
    margin-bottom: 20px;
    padding: 20px;
    border: none;
    background-color: none;
    font-size: 18px;
    font-family: font-desc-foot;
    line-height: 1;
    color: #666;
    text-align: justify;
    border-radius: 15px;
}

.TermsandConditions h2 {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #dcd7d7bc;
    margin-top: 0px;
    font-size: 23px;
    font-family: font-desc-foot;
    line-height: 1.5;
    background-color: #ddbd8ee0;
    color: #785B35;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.TermsandConditions p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #dcd7d7bc;
    background-color: #e1c8a1be;
    font-size: 20px;
    font-family: font-desc-foot;
    line-height: 1.5;
    color: #786337;
    text-align: justify;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Footer */
.footer {
    line-height: 1.5;
    font-family: fontdescfooter;
}

/* Footer */
.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: auto;
}

/* Footer */
.footer {
    background-color: #786337;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Footer */
.footer-col img {
    width: 115px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 13px;
    padding-bottom: 0px;
}

/* Footer */
.footer-col {
    width: 25%;
    padding: 0 15px;
    margin-top: 30px;
}

/* Footer */
.footer-col h4 {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    font-family: allfont;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
}

/* Footer */
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

/* Footer */
.footer-col ul li a {
    font-size: 16px;
    font-family: font-desc-foot;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}

/* Footer */
.footer-col ul p {
    font-size: 16px;
    font-family: font-desc-foot;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
}

/* Footer */
.footer-col ul li a:hover {
    color: #005ea1;
    padding-left: 8px;
}

/* Footer */
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0px 10px 10px 0;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
}

/* Footer */
.footer-col.social-links img.active,
.footer-col .social-links img:hover {
    background-color: #c2c2c2;
}

/* Footer */
.footer-bottom hr {
    border: 0;
    height: 1px;
    margin-bottom: 5px;
    /* margin-top: ; */
    background: rgb(255, 217, 192);
    background-image: rgb(246, 176, 128)
}

/* Footer */
.footer-bottom p {
    font-family: font-desc-foot;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Lucida Sans Unicode;
    padding: 10px 0px;
    padding-top: 7px;
}

/* Footer */
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/* Privacy & Policy */
@media (max-width: 768px) {
    .section {
        width: 100%;
    }
} */

@media (max-width: 768px) {
    .privacy-policy {
        width: 100%;
    }
}